$BG: white;
$titles: #264268;
$text: darkslategrey;
$N9: #000000;

@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0;
}
body {
  margin-left: 0.75em;
  background: linear-gradient(lightgrey, whitesmoke, white);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
}

h1,
h2 {
  color: teal;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.7em;
  color: $titles;
}

.overlay {
  width: 370px;
  .conteneur {
    background-color: whitesmoke;
    margin-left: 0.5em;
    margin-top: 0.1em;
    margin-right: 0.5em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid $titles;
    padding: 5px;
    border-radius: 10px;
    .couleurs {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: center;
      vertical-align: center;
    }
  }
}

.brique {
  width: 75px;
  height: 27px;
  border-radius: 10px;
  background-color: $N9;
  color: $BG;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
  margin: 0.1em;
}

.explications {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  color: $text;
  text-emphasis: wrap;
}

span {
  font-style: italic;
  font-weight: 500;
}

.separateur {
  height: 2em;
}
